job_name Kv2.1_VSD
sequence_file Nav1D.seq
stock_file LabelStore_3_ot_seregi.txt
optimize_price Yes
prices_file BEST_PRICE.csv

#Please, specify the use of all 8 labeling types by '1' or '0'.
#Order as follows: "N", "C", "D", "X", "A", "S", "T", "F"
#You can see the description in ...
#Use 1 1 0 1 0 0 0 0 as default
labeling_types 1 1 1 1 0 0 0 0

#Please, specify the use of all 7 spectra by '1' or '0'.
#Order as follows: HSQC, HNCO, HNCA, HNCOCA, CO-HNCA, DQ-HNCA, HNCACO
#You can see the description in ...
#Use 1 1 0 0 0 0 0 as default
spectra_types 1 1 0 0 0 0 0
